<body>
<h3 style="text-align: center; padding-top: 1cm;">Contact Details</h3>
<table>
    <tr>
        <th style="text-decoration: underline;">Student-1</th>
    </tr>
    <tr>
        <th>Name</th>
        <td>Battepati Karthikeya</td>
    </tr>
    <tr>
        <th>Email ID</th>
        <td>karthikeyabattepati9@gmail.com</td>
    </tr>
    <tr>
        <th>Roll Number</th>
        <td>190050026</td>
    </tr>
</table>
<table>
    <tr>
        <th style="text-decoration: underline;">Student-2</th>
    </tr>
    <tr>
        <th>Name</th>
        <td>Gillella Akash Reddy</td>
    </tr>
    <tr>
        <th>Email ID</th>
        <td>akash.gillella@gmail.com</td>
    </tr>
    <tr>
        <th>Roll Number</th>
        <td>190050038</td>
    </tr>
</table>
</body>