body {
    background-image: url("../contact-background-images-9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}
table {
    margin: auto;
    width: 30%;
    padding-top: 0.5cm;
}
th {
    margin: auto;
    text-align: left;
    padding: 0.4cm;
}
td {
    margin: auto;
    text-align: right;
    padding: 0.4cm;
}